autopep8
blinker
certifi
cffi
click
cryptography
dnspython
email-validator
exceptiongroup
Flask
Flask-WTF
idna
iniconfig
itsdangerous
Jinja2
MarkupSafe
packaging
pluggy
pycodestyle
pycparser
PyJWT
pymongo
python-dotenv
tomli
Werkzeug
WTForms
