<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dashboard</title>

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='client/assets/images/logo.png') }}">
    <!-- Custom CSS -->

    <!-- Custom CSS -->
    <link href="/static/admin/assets/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="{{ url_for('static', filename='admin/dist/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='admin/dist/css/style.min.css') }}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->


    <script src="{{ url_for('static', filename='admin/dist/js/calender.min.js') }}"></script>
    

</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader ">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand " href="/dashboard/admin">
                        <!-- Logo icon -->
                        <b class="logo-icon ">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="{{ url_for('static', filename='client/assets/images/logo.png') }}" alt="homepage"
                                class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="{{ url_for('static', filename='client/assets/images/logo.png') }}" alt="homepage"
                                class="light-logo logo-size" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text fw-bold" style="height: 60px;">
                            <!-- dark Logo text -->
                            <p class="dark-logo" alt="homepage">
                                Charity Community
                            </p>
                            <!-- Light Logo text -->
                            <p class="light-logo " alt="homepage ">
                                Charity Community
                            </p>
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-start me-auto">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-end">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#"
                                id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{ url_for('static', filename=user_info.profile_img) }}" alt="user"
                                    class="rounded-circle" style="width: 30px; height: 30px;">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end user-dd animated"
                                aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/dashboard/admin/profile"><i class="ti-user m-r-5 m-l-5"></i>
                                    My Profile</a>

                            </ul>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li>
                            <!-- User Profile-->
                            <div class="user-profile d-flex no-block dropdown m-t-20">
                                <div class="user-pic"><img src="{{ url_for('static', filename=user_info.profile_img) }}"
                                        alt="users" class="rounded-circle" style="width: 30px; height: 30px;" /></div>
                                <div class="user-content hide-menu m-l-10">
                                    <a href="#" class="" id="Userdd" role="button" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <h5 class="m-b-0 user-name font-medium">{{user_info.username}} <i
                                                class="fa fa-angle-down"></i></h5>
                                        <span class="op-5 user-email">{{user_info.email }}</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="Userdd">
                                        <a class="dropdown-item" href="/dashboard/admin/profile"><i
                                                class="ti-user m-r-5 m-l-5"></i> My Profile</a>

                                        <div class="dropdown-divider"></div>

                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/logout"><i
                                                class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End User Profile-->
                        </li>

                        <!-- User Profile-->
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashboard/admin"
                                aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                                    class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashboard/admin/profile"
                                aria-expanded="false"><i class="mdi mdi-account-network"></i>
                                <span class="hide-menu">Profile</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link btn-toggle  collapsed"
                                data-bs-toggle="collapse" data-bs-target="#table-collapse" aria-expanded="false">
                                <i class="mdi mdi-border-all"></i>
                                <span class="hide-menu">Table</span>
                            </a>
                            <div class="collapse" id="table-collapse">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ">
                                    <li class="sidebar-item ">
                                        <a class="sidebar-link waves-effect waves-dark sidebar-link ps-lg-5"
                                            href="/dashboard/admin/users" aria-expanded="false">
                                            <i
                                                class="mdi mdi-account-multiple-plus"></i>
                                                <span
                                                class="hide-menu">Users
                                            </span>
                                        </a>

                                    </li>
                                    <li class="sidebar-item ">
                                        <a class="sidebar-link waves-effect waves-dark sidebar-link ps-lg-5"
                                            href="/dashboard/admin/news" aria-expanded="false"><i
                                                class="mdi mdi-library-books"></i><span class="hide-menu">News</span>
                                        </a>

                                    </li>
                                    <li class="sidebar-item ">
                                        <a class="sidebar-link waves-effect waves-dark sidebar-link ps-lg-5"
                                            href="/dashboard/admin/donate" aria-expanded="false"><i
                                                class="mdi mdi-currency-usd"></i><span class="hide-menu">Donate</span>
                                        </a>

                                    </li>
                                    <li class="sidebar-item ">
                                        <a class="sidebar-link waves-effect waves-dark sidebar-link ps-lg-5"
                                            href="/dashboard/admin/project" aria-expanded="false"><i
                                                class="mdi mdi-image-filter"></i><span class="hide-menu">Project</span>
                                        </a>

                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashboard/admin/mail"
                                aria-expanded="false"><i class="mdi mdi-email"></i>
                                <span class="hide-menu">Mail</span>
                            </a>
                        </li>
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">Dashboard</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/dashboard/admin">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">dashboard</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <div id='wrap'>
                                    <div id='calendar-wrap'>
                                        <div id='calendar'></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Information</h4>
                                <div class="feed-widget">
                                    <ul class="list-style-none feed-body m-0 p-b-20" id="information-total">
                                        <div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 50vh;">
                                            <div class="loader-progress"></div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Sales chart -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Table -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <!-- title -->
                                <div class="d-md-flex">
                                    <div>
                                        <h4 class="card-title">User Donation</h4>
                                        <h5 class="card-subtitle">Overview of user donation</h5>
                                       
                                    </div>

                                </div>
                                <!-- title -->
                            </div>
                            <div class="table-responsive">
                                <table class="table v-middle">
                                    <thead>
                                        <tr class="bg-light">
                                            <th scope="border-top-0">No</th>
                                            <th class="border-top-0">Name</th>
                                            <th class="border-top-0">Email</th>
                                            <th class="border-top-0">Phone</th>
                                            <th class="border-top-0">Bank Account</th>
                                            <th class="border-top-0">Country</th>
                                            <th class="border-top-0">Donation</th>
                                            <th class="border-top-0">Date</th>
                                        </tr>
                                    </thead>
                                    <tbody id="donation-form">
                                      <tr>
                                        <tr>
                                            <td colspan="8" class="text-center">
                                                <div class="loader-table"></div>
                                            </td>
                                        </tr>
                                       
                                      </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Table -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Recent comment and chats -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">News</h4>
                            </div>
                            <div class="comment-widgets scrollable" id="card-news">
                                <div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 50vh;">

                                    <div class="loader-img" ></div> 
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- column -->
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body" id="temperatur">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Recent comment and chats -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by Charity Community
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- ============================================================== -->
    <script src="{{ url_for('static', filename='admin/assets/libs/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script
        src="{{ url_for('static', filename='admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='admin/dist/js/app-style-switcher.js') }}"></script>
    <!--Wave Effects -->
    <script src="{{ url_for('static', filename='admin/dist/js/waves.js') }}"></script>
    <!--Menu sidebar -->
    <script src="{{ url_for('static', filename='admin/dist/js/sidebarmenu.js') }}"></script>
    <!--Custom JavaScript -->
    <script src="https://unpkg.com/@develoka/angka-rupiah-js/index.min.js"></script>

    <script src="{{ url_for('static', filename='admin/dist/js/custom.js') }}"></script>
    <!-- Sertakan moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!--This page JavaScript -->

    <script src="{{ url_for('static', filename='admin/dist/js/pages/dashboards/dashboard1.js') }}"></script>
</body>

</html>