<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>About</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='client/assets/images/fav.png') }}"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='client/assets/images/fav.jpg') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='client/assets/css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='client/assets/css/style.css') }}"
    />
  </head>
  <body class="bg-white">
    <header class="mb-5">
      <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top ">
        <div class="container-fluid ">
          <img
            class="mx-2 "
            src="{{ url_for('static', filename='client/assets/images/logo.png') }}"
            alt=""
            style="max-width: 80px"
          />

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse col" id="navbarNavDropdown">
            <ul class="navbar-nav col-10">
              <li class="nav-item">
                <a class="nav-link " href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/donate">Donate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/news">News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/project">Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact_us">Contact Us</a>
              </li>
            </ul>
            <div class="d-flex justify-content-center col-2" id="navbarNavDropdown">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#"
                    id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="{{ url_for('static', filename=user_info.profile_img) }}" alt="user"
                        class="rounded-circle logo-small">
                </a>
                <ul class="dropdown-menu dropdown-menu-end user-dd animated"
                    aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/profile"><i class="ti-user m-r-5 m-l-5"></i>
                        My Profile</a>
                        <a class="dropdown-item" href="/logout"><i class="ti-user m-r-5 m-l-5"></i>
                          Logout</a>
  
                </ul>
            </li>
            </div>
          </div>
         
        </div>    
      </nav>
    </header>

    <!--  ************************* Page Title Starts Here ************************** -->
    <div class="page-nav no-margin row">
      <div class="container">
        <div class="row">
          <h2 class="text-start">About Us</h2>
          <ul>
            <li>
              <a href="/"><i class="bi bi-house-door"></i> Home</a>
            </li>
            <li><i class="bi bi-chevron-double-right pe-2"></i> About Us</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- ******************** About US Starts Here ******************* -->

    <div class="about-us">
      <div class="container">
        <div class="session-title">
          <p>Bantu kami untuk Mencapai Tujuan kami</p>
          <h2>Tentang Charity Community</h2>
        </div>
        <div class="about-row row">
          <div class="col-md-8">
            <div class="abut-detail">
              <h4>
                KOMUNITAS AMAL UNTUK KORBAN BENCANA DAN KONFLIK ANTAR NEGARA.
              </h4>
              <p>
                Komunitas amal kita adalah sinar harapan di tengah badai
                penderitaan. Bersama, kita membentuk jaringan kasih dan
                kepedulian yang menjangkau mereka yang terpinggirkan oleh
                bencana dan konflik. Setiap tindakan kebaikan yang kita lakukan
                menjadi langkah untuk mendukung, menyembuhkan luka, dan
                membangun ulang kehidupan. Mari kita terus bersatu dalam membawa
                cinta dan pencerahan kepada mereka yang membutuhkan, sehingga
                setiap jiwa dapat merasakan kehangatan solidaritas kita.
              </p>
              <p>
                Di tengah tragedi yang melanda, mari kita bersatu dalam sebuah
                komunitas amal untuk memberikan harapan kepada korban bencana
                dan konflik antar negara. Melalui kepedulian dan tindakan nyata,
                kita dapat menyatukan kekuatan untuk memberikan bantuan yang
                diperlukan. Bersama, kita membangun jaringan cinta dan
                solidaritas yang mengatasi batas-batas negara dan membawa cahaya
                di tengah kegelapan, membuktikan bahwa kebaikan tak mengenal
                batas.
              </p>
            </div>

            <div class="row diag-ro">
              <div class="about-diag">
                <div class="icon"><i class="fas fa-arrow-right"></i></div>
                <div class="tex">
                  <h5 id="total-donate"></h5>
                  <p>DIBANGKITKAN OLEH BANTUAN ANDA</p>
                </div>
              </div>
              <div class="about-diag">
                <div class="icon"><i class="fas fa-arrow-right"></i></div>
                <div class="tex">
                  <h5>Rp10M</h5>
                  <p>KEBUTUHAN SEGERA</p>
                </div>
              </div>
              <div class="about-diag">
                <div class="icon"><i class="fas fa-arrow-right"></i></div>
                <div class="tex">
                  <h5>Rp50M</h5>
                  <p>TARGET AWAL KAMI</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <img
              src="{{ url_for('static', filename='client/assets/images/about_img.png') }}"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <div id="testimonial" class="service bg-gray container-fluid px-4 py-5">
      <div class="container">
        <div class="section-title row mb-3">
          <h2 class="fw-bolder">Tokoh Dunia</h2>
          <p>
            Berikut beberapa tokoh dunia
          </p>
        </div>
        <div class="row mt-5">
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="serv-cove shadow-md rounded bg-white p-3">
              <div class="prf row mb-3">
                <div class="col-3">
                  <img
                    class="rounded-pill"
                    src="{{ url_for('static', filename='client/assets/images/testimonial/member-01.jpg') }}"
                    alt=""
                  />
                </div>
                <div class="col-9 align-self-center">
                  <h6 class="mb-0 fw-bolder">Adam Setiadi</h6>
                  <span>CEO Fabric Nation</span>
                </div>
              </div>
              <div class="det text-center">
                <p class="fs-7 fst-italic">
                  Saya ingin berbagi pengalaman saya dalam menggalang donasi untuk membantu korban bencana alam yang menghantam wilayah tertentu. Melihat dampak langsung dari bencana tersebut sangat menggetarkan hati saya. Saya merasa terpanggil untuk bertindak dan memberikan bantuan sebisa mungkin.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="serv-cove shadow-md rounded bg-white p-3">
              <div class="prf row mb-3">
                <div class="col-3">
                  <img
                    class="rounded-pill"
                    src="{{ url_for('static', filename='client/assets/images/testimonial/member-03.jpg') }}"
                    alt=""
                  />
                </div>
                <div class="col-9 align-self-center">
                  <h6 class="mb-0 fw-bolder">Juprianto Elkhat</h6>
                  <span>CEO Notitech</span>
                </div>
              </div>
              <div class="det text-center">
                <p class="fs-7 fst-italic">
                  Proses ini bukan hanya tentang mengumpulkan uang, tetapi juga tentang membangun kesadaran akan pentingnya membantu sesama dalam situasi darurat. Melihat dukungan dan kepedulian dari orang-orang di sekitar saya menguatkan keyakinan bahwa ketika kita bersatu, kita memiliki kemampuan untuk membuat perbedaan yang nyata dalam kehidupan orang lain.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="serv-cove shadow-md rounded bg-white p-3">
              <div class="prf row mb-3">
                <div class="col-3">
                  <img
                    class="rounded-pill"
                    src="{{ url_for('static', filename='client/assets/images/testimonial/member-02.jpg') }}"
                    alt=""
                  />
                </div>
                <div class="col-9 align-self-center">
                  <h6 class="mb-0 fw-bolder">Rayhan Richard</h6>
                  <span>Admin Vintech</span>
                </div>
              </div>
              <div class="det text-center">
                <p class="fs-7 fst-italic">
                  Dana yang berhasil dikumpulkan digunakan untuk menyediakan bantuan medis, makanan, tempat perlindungan sementara, dan kebutuhan dasar lainnya bagi para korban. Melihat senyum dan terima kasih dari mereka yang kami bantu, meskipun dalam situasi sulit, membuat seluruh proses ini sangat berharga
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="inner">
        <div class="container">
          <div class="row">
            <div class="col-md-3 foot-about">
              <h4>About US</h4>
  
              <p>
                Komunitas amal kita adalah sinar harapan di tengah badai
                penderitaan. Bersama, kita membentuk jaringan kasih dan
                kepedulian yang menjangkau mereka yang terpinggirkan oleh
                bencana dan konflik. Setiap tindakan kebaikan yang kita lakukan
                menjadi langkah untuk mendukung, menyembuhkan luka, dan
                membangun ulang kehidupan. Mari kita terus bersatu dalam membawa
                cinta dan pencerahan kepada mereka yang membutuhkan, sehingga
                setiap jiwa dapat merasakan kehangatan solidaritas kita.
              </p>
  
              <ul>
                <li>Charity Community</li>
                <li>AJR@gmail.com</li>
                <li>085273883095</li>
              </ul>
            </div>
  
            <div class="col-md-3 foot-post">
              <h4>Berita</h4>
              <div id="news-footer">
  
              
             
  
            </div>
             
            </div>
  
            <div class="col-md-3 foot-post">
  
            </div>
  
            <div class="col-md-3 foot-news">
              <h4>Address</h4>
              <p>Kota Bandung, Jawa Barat, Indonesia.</p>
  
              <ul>
                <li><i class="bi bi-facebook"></i></li>
                <li><i class="bi bi-twitter"></i></li>
                <li><i class="bi bi-instagram"></i></li>
                <li><i class="bi bi-linkedin"></i></li>
                <li><i class="bi bi-pinterest"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  
    
  </body>
  <script src="{{ url_for('static', filename='client/assets/js/jquery-3.2.1.min.js') }}"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"
  ></script>

  <script src="{{ url_for('static', filename='client/assets/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='client/assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js') }}"></script>
  <script src="{{ url_for('static', filename='client/assets/plugins/testimonial/js/owl.carousel.min.js') }}"></script>
  
  <!-- Sertakan moment.js -->
  <script src="https://unpkg.com/@develoka/angka-rupiah-js/index.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="{{ url_for('static', filename='client/assets/js/script.js') }}"></script>
 
 <script src="{{ url_for('static', filename='client/assets/js/pages/about/about.js') }}"></script>
</html>
