<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Donate</title>
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='client/assets/images/fav.png') }}"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='client/assets/images/fav.jpg') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='client/assets/css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='client/assets/css/style.css') }}"
    />

  </head>
  <body class="bg-white">
    <header class="container-fluid">
      <div class="shadow">
        <div class="container p-2">
          <div class="row top-ro">
            <div class="col-lg-3 col-md-12 pt-2">
              <img
                class="max-250 my-2 my-lg-4"
                src="{{ url_for('static', filename='client/assets/images/logo.jpg') }}"
                alt=""
              />
              <a
                data-bs-toggle="collapse"
                data-bs-target="#menu"
                class="float-end d-lg-none pt-1 ps-3"
                ><i class="bi pt-1 fs-11 cp bi-list"></i
              ></a>
            </div>
            <div class="col-md-9 logiki">
              <div id="menu" class="nav-row d-none d-lg-flex row">
                <ul class="d-inline-block">
                  <li class="float-none float-md-start p-4 px-4">
                    <a href="/">Home</a>
                  </li>
                  <li class="float-none float-md-start p-4 px-4">
                    <a href="/about">About US</a>
                  </li>
                  <li class="float-none float-md-start p-4 px-4">
                    <a href="/donate">Donate</a>
                  </li>
                  <li class="float-none float-md-start p-4 px-4">
                    <a href="/project">Project</a>
                  </li>
                  <li class="float-none float-md-start p-4 px-4">
                    <a href="/news">News</a>
                  </li>
                  <li class="float-none float-md-start p-4 px-4">
                    <a href="/contact_us">Contact Us</a>
                  </li>
                  <li class="float-none float-md-start p-4 px-4 nav-item">
                    <a href="/profile">
                      <img src="{{ url_for('static', filename='client/assets/images/profile_image/profile-placeholder.png') }}" alt="Logo" class="logo-small">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!--  ************************* Page Title Starts Here ************************** -->
    <div class="page-nav no-margin row">
      <div class="container">
        <div class="row">
          <h2 class="text-start">Donate</h2>
          <ul>
            <li>
              <a href="#"><i class="bi bi-house-door"></i> Home</a>
            </li>
            <li><i class="bi bi-chevron-double-right pe-2"></i> Donate</li>
          </ul>
        </div>
      </div>
    </div>

    <section class="container-fluid causes bg-gray">
      <div class="container">
        <div class="section-title row">
          <p>Pelajari lebih lanjut tentang kami</p>
          <h2>PENYEBAB TERBARU</h2>
        </div>
        <div class="cuses-row row">
          <div class="col-md-4">
            <div class="causen-ccover">
              <div class="caus-img">
                <img
                  src="{{ url_for('static', filename='client/assets/images/causes/c1.jpg') }}"
                  alt=""
                />
              </div>
              <div class="caus-info row no-margin">
                <span class="left-info col-6"> RAISED: $764 </span>
                <span class="rit-info text-right col-6"> TARGET: $1500 </span>
              </div>
              <div class="caus-detail">
                <h4>PEDULI PALESTINA</h4>
                <p>
                  Mari kita semua bersama membantu negara kecil ini yang sedang
                  dalam keadaan yang sangat menyedihkan yaitu dibunuh di siksa
                  oleh zionis, walaupun kita tidakbisa membantu secara langsung
                  terjun kesana berharap dengan donasi ini bisa membantu mereka
                  yang sangat kesusahan menghadapi ini semua disana.
                </p>
              </div>

              <div class="donat-btn">
                <main>
                  <button class="btn btn-danger">
                    <i class="fas fa-hand-holding-usd"></i> Donate
                  </button>
                </main>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="causen-ccover">
              <div class="caus-img">
                <img
                  src="{{ url_for('static', filename='client/assets/images/causes/c2.jpg') }}"
                  alt=""
                />
              </div>
              <div class="caus-info row no-margin">
                <span class="left-info col-6"> RAISED: $764 </span>
                <span class="rit-info text-right col-6"> TARGET: $1500 </span>
              </div>
              <div class="caus-detail">
                <h4>CONNECTING THE PEOPLE</h4>
                <p>
                  he point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using 'Content
                  here, content here', making it look like readable English.
                </p>
              </div>

              <div class="donat-btn">
                <button class="btn btn-danger">
                  <i class="fas fa-hand-holding-usd"></i> Donate
                </button>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="causen-ccover">
              <div class="caus-img">
                <img
                  src="{{ url_for('static', filename='client/assets/images/causes/c3.jpg') }}"
                  alt=""
                />
              </div>
              <div class="caus-info row no-margin">
                <span class="left-info col-6"> RAISED: $764 </span>
                <span class="rit-info text-right col-6"> TARGET: $1500 </span>
              </div>
              <div class="caus-detail">
                <h4>CONNECTING THE PEOPLE</h4>
                <p>
                  he point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using 'Content
                  here, content here', making it look like readable English.
                </p>
              </div>

              <div class="donat-btn">
                <button class="btn btn-danger">
                  <i class="fas fa-hand-holding-usd"></i> Donate
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="inner">FOOTER</div>
    </footer>
  </body>
  <script src="{{ url_for('static', filename='client/assets/js/jquery-3.2.1.min.js') }}"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"
  ></script>

  <script src="{{ url_for('static', filename='client/assets/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='client/assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js') }}"></script>
  <script src="{{ url_for('static', filename='client/assets/plugins/testimonial/js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='client/assets/js/script.js') }}"></script>
</html>
