<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Profile</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='client/assets/images/logo.png') }}"
  type="image/x-icon" />

  
  <!-- Custom CSS -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  
  <!-- SweetAlert -->

  <link rel="shortcut icon" href="{{ url_for('static', filename='client/assets/images/logo.png') }}"
    type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&amp;display=swap"
    rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
    
  
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='client/assets/css/bootstrap.min.css') }}"
  />
    <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css " rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='client/assets/css/style.css') }}" />

    <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js "></script>
    <script src="https://kit.fontawesome.com/584805cf69.js" crossorigin="anonymous"></script>
    
    
</head>

<body>


  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <header class="mb-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top ">
      <div class="container-fluid ">
        <img class="mx-2 " src="{{ url_for('static', filename='client/assets/images/logo.png') }}" alt=""
          style="max-width: 80px" />

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse col" id="navbarNavDropdown">
          <ul class="navbar-nav col-10">
            <li class="nav-item">
              <a class="nav-link " href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="/donate">Donate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/news">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/project">Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact_us">Contact Us</a>
            </li>
          </ul>
          <div class="d-flex justify-content-center col-2" id="navbarNavDropdown">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#"
                id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ url_for('static', filename=user_info.profile_img) }}" alt="user"
                  class="rounded-circle logo-small">
              </a>
              <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/profile"><i class="ti-user m-r-5 m-l-5"></i>
                  My Profile</a>
                <a class="dropdown-item" href="/logout"><i class="ti-user m-r-5 m-l-5"></i>
                  Logout</a>
              </ul>
            </li>
          </div>
        </div>

      </div>
    </nav>
  </header>
  <!-- ============================================================== -->
  <!-- End Topbar header -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->


   <!--  ************************* Page Title Starts Here ************************** -->
   <div class="page-nav no-margin row">
    <div class="container">
      <div class="row">
        <h2 class="text-start">Profile</h2>
        <ul>
          <li>
            <a href="/"><i class="bi bi-house-door"></i> Home</a>
          </li>
          <li><i class="bi bi-chevron-double-right pe-2"></i> Profile</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">

    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->

    <form class="form-horizontal form-material mx-2" enctype="multipart/form-data" id="UsersupdateForms">
      {{ form.hidden_tag() }}
      <div class="row">

        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
          <div class="card">
            <div class="card-body">

              <center class="mt-md-5 position-relative w-100 h-100">
                <img src="{{ url_for('static', filename=user_info.profile_img) }}" class="rounded-circle"
                  style="width: 150px; height: 150px;" />
                <h4 class="card-title m-t-10">{{ user_info.username }}</h4>
                <h6 class="card-subtitle ">{{ user_info.profile_info}}</h6>
                <button type="button" id="update-btn" class="btn btn-primary rounded-2">Update photo
                  <i class="fa-solid fa-pen-to-square"></i></button>
                <!-- Modal  -->
                <nav id="btns-me" class="level is-mobile " style="margin-top: 2rem;">

                  <div class="modal" id="modal-edit">



                  </div>



                </nav>
              </center>

            </div>

            <div class="card-body z-3 mt-2 ps-4"> <small class="text-muted">Email address </small>
              <h6>{{ user_info.email }}</h6> <small class="text-muted p-t-30 db">Address</small>

              <h6>{{ user_info.address }}</h6>
              <small class="text-muted p-t-30 db">Social Profile</small>
              <br />
              <a class="btn btn-circle btn-danger text-white" href=" {{ user_info.maps }}" target="_blank"><i
                  class="fa-solid fa-location-dot" style="color: #ffffff;"></i></a>
              <a class="btn btn-circle btn-primary text-white" href="{{ user_info.url_fb }}" target="_blank"><i
                  class="fab fa-facebook-f"></i></a>
              <a class="btn btn-circle btn-primary text-white"" href=" {{ user_info.url_x }}" target="_blank"><i
                  class="fab fa-twitter"></i></a>
              <a class="btn btn-circle btn-danger text-white"" href=" {{ user_info.url_yt }}" target="_blank"><i
                  class="fab fa-youtube"></i></a>
            </div>
          </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
          <div class="card">
            <div class="card-body">


              <div class="form-group">
                <label class="col-md-12">Full Name</label>
                <div class="col-md-12">
                  <input type="text" name="fullname_receive" id="fullname" placeholder="{{ user_info.fullname }}"
                    value="{{ user_info.fullname }}" class="form-control form-control-line" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Biodata</label>
                <div class="col-md-12">
                  <textarea value="{{ user_info.profile_info }}" placeholder="{{ user_info.profile_info }}" rows="5"
                    class="form-control form-control-line" name="profile_info_receive" id="profileinfo"
                    required></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-md-12">Email</label>
                <div class="col-md-12">
                  <input type="email" placeholder="{{ user_info.email }}" value="{{ user_info.email }}"
                    class="form-control form-control-line" name="email_receive" id="email">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Maps</label>
                <div class="col-md-12">
                  <input type="text" placeholder="{{ user_info.maps }}" value="{{ user_info.maps }}"
                    class="form-control form-control-line" name="maps_receive" id="maps">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Phone No</label>
                <div class="col-md-12">
                  <input type="text" placeholder="{{ user_info.no_hp }}" value="{{ user_info.no_hp }}"
                    class="form-control form-control-line" name="no_hp_receive" id="no_hp">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Address</label>
                <div class="col-md-12">
                  <textarea value="{{ user_info.address }}" placeholder="{{ user_info.address }}" rows="5"
                    class="form-control form-control-line" name="address_receive" id="address"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-12">Country</label>
                <div class="col-md-12">
                  <input type="text" placeholder="{{ user_info.country }}" value="{{ user_info.country }}"
                    class="form-control form-control-line" name="country_receive" id="country">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <button class="btn btn-success text-white" type="button"
                    onclick="UpdateSweetAlert('{{ user_info._id}}')">Update Profile <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i></button>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- Column -->
      </div>
    </form>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->




    <footer class="footer text-center">
      All Rights Reserved by Charity Community
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->

  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- All Jquery -->
  <!-- ============================================================== -->
  <!-- Sertakan jQuery dan Bootstrap JS jika diperlukan -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="{{ url_for('static', filename='admin/assets/libs/jquery/dist/jquery.min.js') }}"></script>
  <!-- Bootstrap tether Core JavaScript -->


  <script src="{{ url_for('static', filename='client/assets/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='admin/dist/js/app-style-switcher.js') }}"></script>
  <!--Wave Effects -->
  <script src="{{ url_for('static', filename='admin/dist/js/waves.js') }}"></script>
  <!--Menu sidebar -->
  <script src="{{ url_for('static', filename='admin/dist/js/sidebarmenu.js') }}"></script>
  <!--Custom JavaScript -->
  <script src="{{ url_for('static', filename='admin/dist/js/custom.js') }}"></script>
  <script>
    const data = {{ user_info | tojson | safe }}

  </script>

  <script src="{{ url_for('static', filename='admin/dist/js/pages/profile/profile.js') }}"> </script>



</body>

</html>