<!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Full Screen Contact Us Form Design | Smarteyeapps.com</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='client/assets/images/fav.png') }}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='client/assets/images/fav.jpg') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='client/assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='client/assets/css/style.css') }}" />
    </head>
    <body class="bg-white">

      <header class="mb-5 ">
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top p-1">
            <div class="container-fluid">
              
                <img class="mx-2" src="{{ url_for('static', filename='client/assets/images/logo.jpg') }}" alt="" style="max-width: 100px;">

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="/donate">Donate</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/project">Project</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contact_us">Contact Us</a>
                  </li>
                  
                </ul>
              </div>
            </div>
          </nav>
       </header>
       
       
        <!--  ************************* Page Title Starts Here ************************** -->
     <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2 class="text-start">Gallery</h2>
                <ul>
                    <li> <a href="#"><i class="bi bi-house-door"></i> Home</a></li>
                    <li><i class="bi bi-chevron-double-right pe-2"></i> Gallery</li>
                </ul>
            </div>
        </div>
    </div>
       
    <div class="gallery big-padding container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <img class="p-2 bg-white shadow-md" src="{{ url_for('static', filename='assets/images/blog/blog_01.jpg') }}" alt="">
                </div>
                <div class="col-md-4 mb-4">
                    <img class="p-2 bg-white shadow-md" src="{{ url_for('static', filename='assets/images/blog/blog_02.jpg') }}" alt="">
                </div>
                <div class="col-md-4 mb-4">
                    <img class="p-2 bg-white shadow-md" src="{{ url_for('static', filename='assets/images/blog/blog_03.jpg') }}" alt="">
                </div>
                <div class="col-md-4 mb-4">
                    <img class="p-2 bg-white shadow-md" src="{{ url_for('static', filename='assets/images/blog/blog_04.jpg') }}" alt="">
                </div>
                <div class="col-md-4 mb-4">
                    <img class="p-2 bg-white shadow-md" src="{{ url_for('static', filename='assets/images/blog/blog_03.jpg') }}" alt="">
                </div>
                <div class="col-md-4 mb-4">
                    <img class="p-2 bg-white shadow-md" src="{{ url_for('static', filename='assets/images/blog/blog_01.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </div>       
    
            
        <footer>
            <div class="inner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 foot-about">
                            <h4>About US</h4>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit libero pellentesque libero interdum, id mattis felis dictum. Praesent eget lacus tempor justo efficitur malesuada. Cras ut suscipit nisi.</p>

                            <ul>
                                <li>23 Rose Stren Melbourn</li>
                                <li>sales@smarteyeapps.com</li>
                                <li>+91 876 766 554</li>
                            </ul>
                        </div>

                        <div class="col-md-3 foot-post">
                            <h4>Latest Posts</h4>

                            <div class="post-row">
                                <div class="image">
                                    <img src="{{ url_for('static', filename='assets/images/blog/blog_01.jpg') }}" alt="">
                                </div>
                                <div class="detail">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit </p>
                                </div>
                            </div>

                            <div class="post-row">
                                <div class="image">
                                    <img src="{{ url_for('static', filename='assets/images/blog/blog_02.jpg') }}" alt="">
                                </div>
                                <div class="detail">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit </p>
                                </div>
                            </div>

                            <div class="post-row">
                                <div class="image">
                                    <img src="{{ url_for('static', filename='assets/images/blog/blog_03.jpg') }}" alt="">
                                </div>
                                <div class="detail">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 foot-services">
                            <h4>Top Category</h4>

                            <ul>
                                <li><a href="">Target Statergy</a></li>
                                <li><a href="">Web Analytics</a></li>
                                <li><a href="">Page Monitering</a></li>
                                <li><a href="">Page Optimization</a></li>
                                <li><a href="">Target Statergy</a></li>
                                <li><a href="">Email Marketing</a></li>
                            </ul>
                        </div>

                        <div class="col-md-3 foot-news">
                            <h4>News Letter</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, vehicula eget eros. </p>

                            <div class="input-group mb-3">
                                <input type="text" class="form-control mb-0" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text bg-primary" id="basic-addon2"><i class="bi text-white bi-send"></i></span>
                                </div>
                            </div>

                            <ul>
                                <li><i class="bi bi-facebook"></i></li>
                                <li><i class="bi bi-twitter"></i></li>
                                <li><i class="bi bi-instagram"></i></li>
                                <li><i class="bi bi-linkedin"></i></li>
                                <li><i class="bi bi-pinterest"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="copy">
            <div class="container">
                <a href="https://www.smarteyeapps.com/">2022 &copy; All Rights Reserved | Designed and Developed by Smarteyeapps.com</a>

                <span>
                    <a href=""><i class="fab fa-github"></i></a>
                    <a href=""><i class="fab fa-google-plus-g"></i></a>
                    <a href="https://in.pinterest.com/prabnr/pins/"><i class="fab fa-pinterest-p"></i></a>
                    <a href="https://twitter.com/prabinraja89"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/freewebtemplatesbysmarteye"><i class="fab fa-facebook-f"></i></a>
                </span>
            </div>
        </div>

<!------------------------------------------------ JAVASCRIPT --------------------------------------------------------------->
        <script src="{{ url_for('static', filename='assets/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js') }}" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    
        <script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/plugins/testimonial/js/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
    </body>
</html>