<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Tag Open Graph -->
    <meta property="og:title" content="Charity Community Website">
    <meta property="og:description" content="Website untuk amal donasi bagi yang membutuhkan pertolongan dan bantuan">
    <meta property="og:image" content="https://caritycommunity.glitch.me/static/client/assets/images/logo.png">
    <meta property="og:url" content="https://caritycommunity.glitch.me">
  
     <meta property="og:image:width" content="1200"> <!-- Lebar gambar dalam piksel -->
    <meta property="og:image:height" content="630"> <!-- Tinggi gambar dalam piksel -->
    <meta property="og:type" content="website">

  
  
  
    <link rel="icon"
        href="{{ url_for('static', filename='client/assets/images/logo.png') }}">
    <title>Login page</title>
    <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css " rel="stylesheet">
    <link rel="stylesheet" href="/static/client/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='client/assets/css/auth/login.css') }}" />

    <!------------------------------------ Javascript ---------------------------------------->
    <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js "></script>
    <script src="{{ url_for('static', filename='client/assets/js/jquery-3.2.1.min.js') }}"></script>
</head>

<body>
  
    <div class="container-fluid">
        <div class="row main-content bg-success text-center">
            <div class="col-md-4 text-center company__info p-3 d-flex justify-content-center align-items-lg-center">
                <img class="mx-5" src="{{ url_for('static', filename='client/assets/images/logo.png') }}" alt=""
                    style="width: 200px; border-radius: 50%; " />
            </div>
            <div class="col-md-8 col-xs-12 col-sm-12 login_form py-3">
                <div class="container-fluid">
                    <div class="row">
                        <h2>Log In</h2>
                    </div>


                    <div class="row">
                        <form id="formLogin" method="post" action="{{ url_for('auth.login') }}" class="form-group">
                            {{ form.hidden_tag() }}
                            <div class="container w-20">
                                <div class="mb-3">
                                    <input type="username" class="form__input" id="username" name="username_give"
                                        placeholder="Your Username" />
                                    {% if form.username_give.errors %}
                                    <span style="color: red">{{ form.username_give.errors[0] }}</span>
                                    {% endif %}
                                </div>

                                <div class="mb-3">
                                    <input type="password" class="form__input" id="password" name="password_give"
                                        placeholder="Your Password" required/>
                                    {% if form.password_give.errors %}
                                    <span style="color: red">{{ form.password_give.errors[0] }}</span>
                                    {% endif %}
                                </div>

                                

                                <button type="submit" class="btn btn-primary mb-3">
                                    Login
                                </button>

                                <div class="pb-2">
                                    <span>
                                        <a href="/register/users">Tidak punya akun?</a>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>


    {% if token %}
    <!-- If a valid token exists, perform automatic login -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Replace 'YOUR_TOKEN' with the actual token value
            const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.onmouseenter = Swal.stopTimer;
                    toast.onmouseleave = Swal.resumeTimer;
                }
            });
            function ToastJs(icon, title) {
                Toast.fire({
                    icon: icon,
                    title: title
                });
            }
            var token = "{{ token }}";

            // Set the token in a cookie
            document.cookie = "mytoken=" + token + "; path=/";

            const succes = '{{msg}}'
            console.log(succes)
            if (succes) {
                ToastJs("success", succes)

            }


            setTimeout(function () {
                // Redirect to the home page
                window.location.replace("/");
            }, 2000)

        });
    </script>
    {% endif %}

    <script>
        {% if msg %}
        const msg = '{{msg}}'
        console.log(msg)
        {% endif %}

        {% if msg.status == 208 %}
        const msgs = '{{ msg.msg }}' + '😊'
        console.log(msgs)
        {% endif %}

    </script>


    <script src="/static/client/assets/js/pages/login.js"> </script>


</body>

</html>