<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='client/assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='client/assets/css/style.css') }}" />
</head>
<body>
    <form id="formRegister" method="post" action="{{ url_for('register', role=role) }}" class="d-flex flex-column justify-content-center  align-items-center w-100 h-100">
         {{ form.hidden_tag() }}
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input  class="form-control" type="text" id="username" name="username_give" required>
            {% if form.username_give.errors %}
                <span style="color: red;">{{ form.username_give.errors[0] }}</span>
            {% endif %}
        </div>
        
        <div class="mb-3">
            <label for="fullname" class="form-label">Fullname:</label>
            <input class="form-control"  type="text" id="fullname" name="fullname_give" required>
            {% if form.fullname_give.errors %}
                <span style="color: red;">{{ form.fullname_give.errors[0] }}</span>
            {% endif %}
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input class="form-control"  type="email" id="email" name="email_give"  required>
            {% if form.email_give.errors %}
                <span style="color: red;">{{ form.email_give.errors[0] }}</span>
            {% endif %}
        </div>

      

       <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input class="form-control"  type="password" id="password" name="password_give" required>
        {% if form.password_give.errors %}
            <span style="color: red;">{{ form.password_give.errors[0] }}</span>
        {% endif %}
       </div>

       <div class="mb-3">
        <label for="password" class="form-label">Confirm password:</label>
        <input class="form-control"  type="password" id="confirm_password" name="confirm_password" required>
        {% if form.password_give.errors %}
            <span style="color: red;">{{ form.password_give.errors[0] }}</span>
        {% endif %}
       </div>

       

        <button type="submit">Register</button>
    </form>
</body>
</html>